<div class="container">
    <div class="row">
        <div class="col">
            <img class="mx-auto" src="../public/assets/img/burger.gif" alt="Burger">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Eat-Da-Burger</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <textarea class="form-control mx-auto" id="burgerInput" rows="3" style="width: 400px"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>