<li>
	{{burger_name}}
	{{#unless devoured}}
	<button class="change-devoured btn-small btn-primary float-right" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour It
	</button>
	{{/unless}}
</li>
